.input-file {
  align-items: center;
  padding: 1.75rem 0;
  border: 2px dashed var(--tertiary-400);

  p {
    color: var(--tertiary-400);
  }

  & .input-file__img {
    width: 3rem;
    height: 3rem;
    background-image: url('../../../assets/icons/interface/cloud-upload.svg');
    background-size: cover;
  }

  &:has(input:not(:disabled):hover) {
    border-color: var(--primary-200);
    outline: 4px solid var(--tertiary-200);

    & .input-file__img {
      background-image: url('../../../assets/icons/interface/cloud-upload--hover.svg');
    }
  }
}
